* {background-color: #ece9d8 !important;}
ul.tree-view ul>li:last-child:after {background: none !important;}

details > summary {
	list-style: none;
}

details summary::-webkit-details-marker {
	display: none;
}
